/* Suffixes 
XS,SM,MD,LG,XL
*/

.showMD,
.showSM {
    display: none;
}
@media only screen and (max-width: 992px) {
    .bkLG- {
        display: block;
    }
    .bkLG- > div {
        margin-bottom: 2rem;
    }
    .bkLG- .vr {
        height: 2px;
    }
}
@media only screen and (max-width: 768px) {
    .bkMD- {
        display: block;
    }
    .bkMD- > div {
        margin-bottom: 2rem;
    }
    .bkMD- .vr {
        height: 2px;
    }
    .hideMD {
        display: none;
    }
    .showMD {
        display: initial;
    }
}
@media only screen and (max-width: 480px) {
    .bkSM- {
        display: block;
    }
    .bkSM- > div {
        margin-bottom: 2rem;
    }
    .bkSM- .vr {
        height: 2px;
    }
    table {
        table-layout: fixed;
    }
    .hideSM {
        display: none;
    }
    .showSM {
        display: initial;
    }
    #sticky-search th:last-child,
    #sticky-body td:last-child {
        width: 4rem;
    }
}
