table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td,
th {
    overflow: hidden;
    white-space: nowrap;
    /*line-height: 2rem;*/
    padding: 0.4rem;
}

td {
    line-height: 3rem;
}

tr:nth-child(even) {
    background: #EEE;
}

tr {
    cursor: pointer;
}

