/* Text colours */

.tt-white {
    color: white;
}

.tt-black {
    color: black;
}


/* Text alignment */

.tt-left {
    text-align: left;
}

.tt-center {
    text-align: center;
}

.tt-right {
    text-align: right;
}

.tt-justify {
    text-align: justify;
}

.tt-nowrap {
    white-space: nowrap;
}


/* Text transformation */

.tt-lowercase {
    text-transform: lowercase;
}

.tt-uppercase {
    text-transform: uppercase;
}

.tt-capitalize {
    text-transform: capitalize;
}


/* Floats */

.fl-left {
    float: left !important;
}

.fl-right {
    float: right !important;
}


/* Clearfix */

.cf:before,
.cf:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
    /* IE < 8 */
    clear: both;
}


/* Visibility */

.show {
    display: block !important;
}

.hide {
    display: none !important;
}


/* Layout */

.grp {
    position: relative;
}

.grp button {
    width: 100%;
}

.grp {
    display: flex;
    margin: 0 -1rem 2rem;
}

.grp > ._,
.grp > div {
    flex: 1;
    margin: 0 1rem;
}

.grp > .vr {
    display: block;
    padding: 0 1px;
    flex: 0;
}

.grp.left- {
    float: left;
}

.grp.right- {
    float: right;
}

.grp.pd0- {
    margin: 0;
}

.grp.pd0- > div {
    margin: 0;
}


/* PROJECT */

.mg0 {
    margin: 0;
}

.pd {
    padding: 2rem;
}

.spc {
    margin-bottom: 2rem;
}

.bg {
    background-color: #EEE;
}

.bg_ > div {
    background-color: #EEE;
}


/*
Buttons
RESOURCE https://material.io/icons/
*/

.icn {
    white-space: nowrap;
}

.icn span:first-child,
.icn i:first-child {
    margin-right: 0.2rem;
}

button > span,
button > .material-icons,
button > i {
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}

.icn.glass- {
    outline: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
}

.nav-.icn {
    i {
        color: $colA;
    }
    border-bottom: 0.2rem $colA solid;
}

.colA {
    background: $colA;
}


/*.<i class="material-icons">&#xE835;</i>*/

.material-icons:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icn.check- .material-icons:after {
    content: '\E835';
}

.icn.check-[aria-checked="true"] .material-icons:after {
    content: '\E834';
}

